:root{
    background-image: linear-gradient(
        to bottom, white 0%, lightblue 100% );
    
}
header h1{
    clear: left;
    font-size: 3em;
    font-style: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #022202;
    
}
nav {
    margin-bottom: 60px;
}
#nav_menu{
    padding: 1em;
    
}
#nav_menu ul {
    list-style-type: none;
    margin: auto;
    width: 750px;
 }
#nav_menu ul li {float: left;}
#nav_menu ul li a{
  text-align: center;
  display: block;
  width: 175px;
  height: 20px;
  padding: 1em 0;
  text-decoration: none;
  background-color: #022202;
  color: white;
  font-weight: bold;
  border-right: 2px solid white;
}
#nav_menu ul a.lastitem {border-right: none;}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: .5em black solid; 
    
 }  
